<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded" class="main-content">
  <mat-form-field class="search-field">
    <mat-label>Search</mat-label>
    <input #searchInputField (keyup)="applySearch($event)" autofocus matInput>
    <button (click)="clearTextField()" mat-icon-button matSuffix matTooltip="Clear search">
      <mat-icon>close</mat-icon>
    </button>
    <button (click)="refreshData()" mat-icon-button matSuffix matTooltip="Reload data">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-progress-bar *ngIf="searchLoadingBar" mode="indeterminate"></mat-progress-bar>
  </mat-form-field>

  <div class="option-bar">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Filter Options
        </mat-expansion-panel-header>
        <mat-chip-listbox multiple>
          <mat-chip-option (click)="changeSelectedColumns(option)" *ngFor="let option of this.agentKeys"
                           [selected]="isColumnSelected(option)"
                           [value]="option">{{ this.convertStringChipName(option) }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-expansion-panel>
    </mat-accordion>
    <button (click)="openAddNewPopup()" color="primary" mat-raised-button>
      Add Agent
    </button>
  </div>
  <br>

  <div class="table-container">
    <table [dataSource]="dataSource" aria-label="Overview of all Agents" class="agent-table" mat-table matSort>
      <ng-container *ngFor="let column of this.agentKeys" [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ this.convertStringChipName(column) }}</th>
        <td *matCellDef="let agent" mat-cell>{{ agent[column] }}</td>
      </ng-container>

      <tr *matHeaderRowDef="selectedColumns" mat-header-row></tr>
      <tr (click)="showDetailInfoPopup(row.uuid)" *matRowDef="let row; columns: selectedColumns;" class="table-row"
          mat-row></tr>
    </table>
  </div>
  <mat-divider></mat-divider>
  <mat-paginator #tablePaginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25"
                 showFirstLastButtons=""></mat-paginator>
</div>
