<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded && packageEntity" class="main-content">
  <div class="card-container">
    <div class="package-name">
      {{ packageEntity.name }}
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="package-options-buttons">
        <button (click)="updatePackageName()" mat-raised-button>Rename</button>
        <button (click)="updatePackageContent()" mat-raised-button>Update content</button>
        <button (click)="resetAllDeployments()" mat-raised-button>Reset deployments</button>
        <button (click)="deletePackage()" mat-raised-button>Delete</button>
      </div>
    </mat-expansion-panel>

    <!--  general infos  -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="entries">
        <mat-list>
          <mat-list-item>
            <h4 matLine>UUID</h4>
            <p matLine>{{ packageEntity.uuid }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>

    </mat-expansion-panel>

  </div>
</div>
