<div class="main-content">
  <h2>Add new package</h2>
  <div class="form">
    <mat-form-field>
      <mat-label>Package Name</mat-label>
      <input matInput [formControl]="formControlNameInput">
      @if (formControlNameInput.hasError('pattern') || formControlNameInput.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Package Checksum</mat-label>
      <input matInput [formControl]="formControlChecksumInput">
      @if (formControlChecksumInput.hasError('pattern') || formControlChecksumInput.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Target OS</mat-label>
      <mat-select [formControl]="formControlOsSelect">
        <ng-container *ngFor="let key of Object.keys(OperatingSystem)">
          <mat-option *ngIf="key !== 'Unknown'" [value]="key">{{ key }}</mat-option>
        </ng-container>
      </mat-select>
      @if (formControlOsSelect.hasError('pattern') || formControlOsSelect.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
    <button mat-flat-button [disabled]="uploadSub" (click)="fileUpload.click()">Select File</button>
    <mat-form-field>
      <input [hidden]="true" accept=".zip" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
      <input matInput [formControl]="formControlFileInput">
      <mat-hint *ngIf="!file">Cannot be empty</mat-hint>
    </mat-form-field>
  </div>
  <button mat-raised-button [disabled]="uploadSub" (click)="startUpload()">Upload</button>
  <button mat-raised-button [disabled]="!uploadSub" (click)="cancelUpload()">Cancel Upload</button>
  <div>
    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="uploadProgress" *ngIf="uploadProgress">

    </mat-progress-bar>
  </div>
</div>
