<div class="main-content">
  <h2>Add new package</h2>
  <div class="form">
    <mat-form-field>
      <mat-label>Package Name</mat-label>
      <input [formControl]="formControlNameInput" matInput>
      @if (formControlNameInput.hasError('pattern') || formControlNameInput.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Package Checksum</mat-label>
      <input [formControl]="formControlChecksumInput" matInput>
      @if (formControlChecksumInput.hasError('pattern') || formControlChecksumInput.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Target OS</mat-label>
      <mat-select [formControl]="formControlOsSelect">
        <ng-container *ngFor="let key of Object.keys(OperatingSystem)">
          <mat-option *ngIf="key !== 'Unknown'" [value]="key">{{ key }}</mat-option>
        </ng-container>
      </mat-select>
      @if (formControlOsSelect.hasError('pattern') || formControlOsSelect.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expected Return Value</mat-label>
      <input [formControl]="formControlExpectedReturnValueInput" matInput>
    </mat-form-field>

    <div class="file-upload">
      <button (click)="fileUpload.click()" [disabled]="uploadSub" mat-flat-button>Select File</button>
      <mat-form-field>
        <input #fileUpload (change)="onFileSelected($event)" [hidden]="true" accept=".zip" class="file-input"
               type="file">
        <input [formControl]="formControlFileInput" matInput>
        <mat-hint *ngIf="!file">Cannot be empty</mat-hint>
      </mat-form-field>
    </div>
  </div>
  @if (uploadErrorMessage) {
    <mat-hint>Error: {{ uploadErrorMessage }}</mat-hint>
  }
  <div class="buttons">
    <button (click)="startUpload()" [disabled]="uploadSub" mat-raised-button>Upload</button>
    <button (click)="cancelUpload()" [disabled]="!uploadSub" mat-raised-button>Cancel Upload</button>
  </div>
  <div *ngIf="uploadProgress">
    @if (uploadProgress == 100) {
      <mat-progress-bar class="progress-bar" mode="indeterminate"/>
    } @else {
      <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"/>
    }
    {{ uploadProgress }} / 100 %
  </div>
</div>
