<div class="main">
  <div class="logo">
    <h1>O P D</h1>
  </div>

  <div class="main-buttons">
    <button mat-flat-button color="primary">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-flat-button color="primary">
      <mat-icon>computer</mat-icon>
      Agents
    </button>
    <button mat-flat-button color="primary">
      <mat-icon>inventory</mat-icon>
      Packages
    </button>
    <button mat-flat-button color="primary">
      <mat-icon>archive</mat-icon>
      Deployments
    </button>
    <button mat-flat-button color="primary">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
  </div>
</div>
