<div class="main">
  <div class="logo" routerLink="/">
    <h1>O P D</h1>
  </div>

  <div class="main-buttons">
    <button color="primary" [style.background-color]="currentUrl === '/' ? 'var(--button-selected)' : ''"
            mat-flat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button color="primary" [style.background-color]="currentUrl === '/agent' ? 'var(--button-selected)' : ''"
            mat-flat-button routerLink="/agent">
      <mat-icon>computer</mat-icon>
      Agents
    </button>
    <button color="primary" [style.background-color]="currentUrl === '/package' ? 'var(--button-selected)' : ''"
            mat-flat-button routerLink="/package">
      <mat-icon>inventory</mat-icon>
      Packages
    </button>
    <button color="primary" [style.background-color]="currentUrl === '/deployment' ? 'var(--button-selected)' : ''"
            mat-flat-button routerLink="/deployment">
      <mat-icon>archive</mat-icon>
      Deployments
    </button>
    <button color="primary" [style.background-color]="currentUrl === '/settings' ? 'var(--button-selected)' : ''"
            mat-flat-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button (click)="logoutButtonPress()" color="primary" mat-flat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>
