.main {
}

.logo {
  text-align: center;
  cursor: pointer;
}

.main-buttons {
  display: flex;
  height: max-content;
  flex-direction: column;
  text-align: left;
}

button {
  margin-top: 10px;
  justify-content: left;
}
