<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded" class="main-content">
  <mat-stepper [linear]="true" style="height: 100%">
    <mat-step>
      <ng-template matStepLabel>Select packages</ng-template>
      <div>
        <button disabled mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input (keyup)="applySearch($event)" autofocus matInput>
      </mat-form-field>
      <div>
        <button mat-flat-button (click)="addVisiblePackages()">Select All</button>
        <button mat-flat-button (click)="removeVisiblePackages()">Deselect All</button>
      </div>

      <mat-selection-list [disabled]="deploymentCreationProcessStarted">
        @for (package_item of packageSelectList; track package_item) {
          <mat-list-option [selected]="isPackageInSelectedPackageList(package_item.uuid)"
                           (selectedChange)="changeSelectedPackages($event, package_item.uuid)">{{ package_item.name }}
            | {{ package_item.uuid }}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>

      <div>
        The following packages will get deployed to {{ agentEntity?.name }}:
        <mat-list>
          @for (selectedPackage of selectedPackages; track selectedPackages) {
            <mat-list-item>{{ selectedPackage.name }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Creating deployments</ng-template>
      <div>
        <button [disabled]="deploymentCreationProcessStarted" mat-button matStepperPrevious>Back</button>
        <button (click)="createDeploymentsForAgent()" [disabled]="deploymentCreationProcessStarted" mat-button>Create
        </button>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="deploymentCreationProgress > 0">
        <mat-progress-bar [value]="deploymentCreationProgress" class="progress-bar" mode="determinate"/>
        {{ deploymentCreationProgress }} / 100 %
      </div>
      <div>
        Package -> Deployment status:
        <mat-list>
          @for (selectedPackage of createdDeploymentStatus; track createdDeploymentStatus) {
            <mat-list-item>{{ selectedPackage }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>
  </mat-stepper>

</div>
