<div class="main-content">

  <div class="detail-popup_navigation-bar">
    <mat-button-toggle-group [formControl]="fontStyleControl">
      <mat-button-toggle value="page_one">Details</mat-button-toggle>
      <mat-button-toggle value="page_two">Deploy Package</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="component">
    <ng-container [ngSwitch]="fontStyleControl.value">
      <app-agent-detail *ngSwitchCase="'page_one'" [agentUUID]=this.data.agentUUID></app-agent-detail>
      <app-agent-create-deployment *ngSwitchCase="'page_two'"
                                   [agentUUID]=this.data.agentUUID></app-agent-create-deployment>
    </ng-container>
  </div>
</div>
