.main-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--popup-background);
}

.navigation-bar {
  width: 100%;
}

.navigation-bar-options {
  width: 100%;
  justify-content: center;
  overflow-x: auto;
}

.component {
  height: 100%;
  overflow: hidden;
}
