.main-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--popup-background);
}

.component {
  height: 100%;
  overflow: hidden;
}
