<div class="main-content">

  <div class="detail-popup_navigation-bar">
    <mat-button-toggle-group [formControl]="fontStyleControl" [hideSingleSelectionIndicator]="true">
      <mat-button-toggle value="page_one">Details</mat-button-toggle>
      <mat-button-toggle value="page_two">Agents</mat-button-toggle>
      <mat-button-toggle value="page_three">Add Agent</mat-button-toggle>
      <mat-button-toggle value="page_four">Packages</mat-button-toggle>
      <mat-button-toggle value="page_five">Add Package</mat-button-toggle>
      <button (click)="ngOnInit()" mat-icon-button matTooltip="Reload">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-button-toggle-group>
  </div>

  <div class="component">
    @if (dataLoaded) {
      <ng-container [ngSwitch]="fontStyleControl.value">
        <app-group-information *ngSwitchCase="'page_one'" [groupEntity]=groupEntity
                               (reloadDataFunction)="ngOnInit()"></app-group-information>
        <app-select-list-progress [selectListProgressData]="selectListProgressDataRemoveAgents"
                                  [progressFunction]="removeAgentFunction"
                                  [progressCompletedFunction]="removeAgentFinishedFunction"
                                  *ngSwitchCase="'page_two'"></app-select-list-progress>
        <app-select-list-progress [selectListProgressData]="selectListProgressDataAddAgents"
                                  [progressFunction]="addAgentFunction"
                                  [progressCompletedFunction]="addAgentFinishedFunction"
                                  *ngSwitchCase="'page_three'"></app-select-list-progress>
        <app-select-list-progress [selectListProgressData]="selectListProgressDataRemovePackages"
                                  [progressFunction]="removePackageFunction"
                                  [progressCompletedFunction]="removePackageFinishedFunction"
                                  *ngSwitchCase="'page_four'"></app-select-list-progress>
        <app-select-list-progress [selectListProgressData]="selectListProgressDataAddPackages"
                                  [progressFunction]="addPackageFunction"
                                  [progressCompletedFunction]="addPackageFinishedFunction"
                                  *ngSwitchCase="'page_five'"></app-select-list-progress>
      </ng-container>
    } @else {
      <app-loading></app-loading>
    }
  </div>
</div>
