<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded" class="main-content">
  <mat-stepper [linear]="true" style="height: 100%">
    <mat-step>
      <ng-template matStepLabel>Select Packages</ng-template>
      <div>
        <button color="primary" disabled mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field class="search-field">
        <mat-label>Search Packages</mat-label>
        <input (keyup)="applySearchForPackagesToAdd($event)" autofocus matInput>
      </mat-form-field>
      <div class="simple-button-row">
        <button (click)="addVisiblePackages()" color="primary" mat-flat-button>Select All</button>
        <button (click)="removeVisiblePackages()" color="primary" mat-flat-button>Deselect All</button>
      </div>

      <mat-selection-list [disabled]="packageAddingProcessStarted">
        @for (package_item of packageSelectListToAdd; track package_item.uuid) {
          <mat-list-option [selected]="isAgentInSelectedAgentList(package_item
         .uuid)"
                           (selectedChange)="changeSelectedPackages($event, package_item
                          .uuid)"
                           [value]="package_item
                          .uuid">{{ package_item.name }}
            | {{ package_item.uuid }}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <button color="primary" mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>
      <div>
        These packages will be added to the group:
        <mat-list>
          @for (selectedPackage of selectedPackagesToAdd; track selectedPackagesToAdd) {
            <mat-list-item>{{ selectedPackage.name }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Adding Packages</ng-template>
      <div>
        <button [disabled]="packageAddingProcessStarted" color="primary" mat-button matStepperPrevious>Back
        </button>
        <button (click)="addPackagesToGroup()" [disabled]="packageAddingProcessStarted" color="primary"
                mat-button>
          Add to group
        </button>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="packageAddingProgress > 0">
        <mat-progress-bar [value]="packageAddingProgress" class="progress-bar" mode="determinate"/>
        {{ packageAddingProgress }} / 100 %
      </div>
      <div>
        Status:
        <mat-list>
          @for (selectedPackage of addedPackageStatus; track addedPackageStatus) {
            <mat-list-item>{{ selectedPackage }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>
  </mat-stepper>

</div>
