<mat-drawer-container [class.hide]="appLoaded && isLoggedIn" autosize class="container">
  <app-loading-fullscreen></app-loading-fullscreen>
</mat-drawer-container>

<mat-drawer-container [class.hide]="!appLoaded || !isLoggedIn" autosize class="container">
  <mat-drawer #matDrawer [mode]="sidenavMode" class="mat-drawer">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <div class="menu-button">
    <button (click)="openSideNav()" *ngIf="!matDrawer?.opened" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="content">
    <router-outlet/>
  </div>
</mat-drawer-container>
