<h2 mat-dialog-title>{{ dialogTextInputData.dialogTitle }}</h2>
<mat-dialog-content>
  <p>{{ dialogTextInputData.dialogMessage }}</p>
  <mat-form-field>
    <input cdkFocusInitial [errorStateMatcher]="errorStateMatcher" [formControl]="formControl" matInput>
    @if (formControl.hasError('pattern') || formControl.hasError('required')) {
      <mat-error>Cannot be empty</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelButton()">Cancel</button>
  <button mat-button (click)="acceptButton()">Update</button>
</mat-dialog-actions>
