<app-loading-fullscreen *ngIf="!dataLoaded"></app-loading-fullscreen>

<div *ngIf="dataLoaded" class="main-content">
  <mat-form-field class="search-field">
    <mat-label>Search</mat-label>
    <input #searchInputField matInput autofocus (keyup)="applyFilter($event)">
    <button matSuffix mat-icon-button matTooltip="Clear search" (click)="clearTextField()">
      <mat-icon>close</mat-icon>
    </button>
    <button matSuffix mat-icon-button matTooltip="Reload data" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-progress-bar *ngIf="searchLoadingBar" mode="indeterminate"></mat-progress-bar>
  </mat-form-field>

  <div class="option-bar">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Filter Options
        </mat-expansion-panel-header>
        <mat-chip-listbox multiple>
          <mat-chip-option *ngFor="let option of this.agentKeys" [value]="option"
                           (click)="onAgentSelect(option)"
                           [selected]="isSelected(option)">{{ this.convertString(option) }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button (click)="openAddAgentPopup()">
      Add Agent
    </button>
  </div>
  <br>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="agent-table">
      <!-- UUID Column -->
      <ng-container *ngFor="let column of this.agentKeys" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ this.convertString(column) }}</th>
        <td mat-cell *matCellDef="let agent">{{ agent[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: selectedColumns;" (click)="showAgentInfo(row.uuid)"
          class="table-row"></tr>
    </table>
    <mat-paginator #tablePaginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>
