<app-loading-fullscreen *ngIf="!this.dataLoaded"></app-loading-fullscreen>

<div *ngIf="dataLoaded && agentEntity" class="main-content">
  <div class="card-container">
    <div class="agent-name">
      {{ agentEntity.name }}
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="agent-options-buttons">
        <button mat-raised-button (click)="updateAgentName()">Rename</button>
        <button mat-raised-button>Delete</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <span class="label">Last Connection Time:</span> {{ agentEntity.lastConnectionTime }}
    </mat-expansion-panel>
  </div>
</div>
