<app-loading-fullscreen *ngIf="!this.dataLoaded"></app-loading-fullscreen>

<div *ngIf="dataLoaded && agentEntity" class="main-content">
  <div class="card-container">
    <div class="agent-name">
      {{ agentEntity.name }}
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="agent-options-buttons">
        <button mat-raised-button (click)="updateAgentName()">Rename</button>
        <button mat-raised-button (click)="deleteAgent()">Delete</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="entries">
        <mat-list>
          <mat-list-item>
            <h4 matLine>UUID</h4>
            <p matLine>{{ agentEntity.uuid }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Last time Agent connected</h4>
            <p matLine>{{ agentEntity.lastConnectionTime }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Operating System</h4>
            <p matLine>{{ agentEntity.operatingSystem + ": " + agentEntity.operatingSystemFamily + " " + agentEntity.operatingSystemVersion }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU</h4>
            <p matLine>{{ agentEntity.cpuName + " (" + agentEntity.cpuPhysicalCores + "/" + agentEntity.cpuLogicalCores + ")" }}</p>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-expansion-panel>
  </div>
</div>
