<app-loading-fullscreen *ngIf="!dataLoaded"></app-loading-fullscreen>

<div *ngIf="dataLoaded" class="main-content">
  <mat-form-field class="search-field">
    <input matInput autofocus (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Filter Options
      </mat-expansion-panel-header>
      <mat-chip-listbox multiple>
        <mat-chip-option *ngFor="let agent of this.agentKeys" [value]="agent"
                         (click)="onAgentSelect(agent)" [selected]="isSelected(agent)">{{ agent }}
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-expansion-panel>
  </mat-accordion>

  <br>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="agent-table">
      <!-- UUID Column -->
      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef> UUID</th>
        <td mat-cell style="white-space: normal;" *matCellDef="let agent"> {{ agent.uuid }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let agent"> {{ agent.name }}</td>
      </ng-container>

      <!-- Registration Completed Column -->
      <ng-container matColumnDef="registrationCompleted">
        <th mat-header-cell *matHeaderCellDef> Registration Completed</th>
        <td mat-cell *matCellDef="let agent"> {{ agent.registrationCompleted }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
    </table>
  </div>
</div>
