<app-loading-fullscreen *ngIf="!dataLoaded"></app-loading-fullscreen>

<div *ngIf="dataLoaded" class="main-content">
  <mat-form-field class="search-field">
    <input matInput autofocus (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Filter Options
      </mat-expansion-panel-header>
      <mat-chip-listbox multiple>
        <mat-chip-option *ngFor="let agent of this.agentKeys" [value]="agent"
                         (click)="onAgentSelect(agent)" [selected]="isSelected(agent)">{{ agent }}
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-expansion-panel>
  </mat-accordion>

  <br>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="agent-table">
      <!-- UUID Column -->
      <ng-container *ngFor="let column of this.agentKeys" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
        <td mat-cell *matCellDef="let agent">{{ agent[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: selectedColumns;" (click)="showAgentInfo(row.uuid)" class="table-row"></tr>
    </table>
  </div>
</div>
