<div class="main-content">
  <h2>Package Status</h2>
  @if (refreshingData) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-divider></mat-divider>
  @if (!dataLoaded) {
    <app-loading></app-loading>
  } @else {
    <div class="label-container">
      <mat-form-field>
        Total packages:
        <input disabled matInput>{{ packageCount }}
      </mat-form-field>
    </div>
    <div class="label-container">
      <mat-form-field>
        Awaiting processing:
        <input disabled matInput>{{ packageAwaitingProcessingCount }}
      </mat-form-field>
      <mat-form-field>
        Error:
        <input disabled matInput>{{ packageErrorCount }}
      </mat-form-field>
    </div>
  }
</div>
