<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="this.dataLoaded" class="main-content">
  <h2>Create new deployment</h2>
  <div class="form">
    <mat-form-field>
      <mat-label>Target OS</mat-label>
      <mat-select (selectionChange)="osTargetChange($event)" [formControl]="formControlOsSelect">
        <ng-container *ngFor="let key of Object.keys(OperatingSystem)">
          <mat-option *ngIf="key !== 'Unknown'" [value]="key">{{ key }}</mat-option>
        </ng-container>
      </mat-select>
      @if (formControlOsSelect.hasError('pattern') || formControlOsSelect.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Package</mat-label>
      <mat-select [formControl]="formControlPackageSelect">
        <mat-option>
          <ngx-mat-select-search [formControl]="formControlPackageSelectSearch" noEntriesFoundLabel="No package found"
                                 placeholderLabel="Search..."></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let key of filteredPackages">
          <mat-option *ngIf="key.targetOperatingSystem == targetOs" [value]="key.uuid">{{ key.name }} | {{ key.uuid }}
          </mat-option>
        </ng-container>
      </mat-select>
      @if (formControlPackageSelect.hasError('pattern') || formControlPackageSelect.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Agent</mat-label>
      <mat-select [formControl]="formControlAgentSelect">
        <mat-option>
          <ngx-mat-select-search [formControl]="formControlAgentSelectSearch" noEntriesFoundLabel="No agent found"
                                 placeholderLabel="Search..."></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let key of filteredAgents">
          <mat-option *ngIf="key.operatingSystem == targetOs" [value]="key.uuid">{{ key.name }}
            | {{ key.operatingSystemFamily }} {{ key.operatingSystemVersion }} | {{ key.uuid }}
          </mat-option>
        </ng-container>
      </mat-select>
      @if (formControlAgentSelect.hasError('pattern') || formControlAgentSelect.hasError('required')) {
        <mat-error>Cannot be empty</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="buttons">
    <button (click)="createDeployment()" color="primary" mat-raised-button>Create</button>
  </div>

</div>
