<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded && agentEntity" class="main-content">
  <div class="card-container">
    <div class="agent-name">
      {{ agentEntity.name }}
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="agent-options-buttons">
        <button (click)="updateAgentName()" mat-raised-button>Rename</button>
        <button (click)="resetAllDeployments()" mat-raised-button>Reset deployments</button>
        <button (click)="deleteAgent()" mat-raised-button>Delete</button>
      </div>
    </mat-expansion-panel>

    <!--  general infos  -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="entries">
        <mat-list>
          <mat-list-item>
            <h4 matLine>UUID</h4>
            <p matLine>{{ agentEntity.uuid }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Last time Agent connected</h4>
            <p matLine>{{ agentEntity.lastConnectionTime }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Operating System</h4>
            <p
              matLine>{{ agentEntity.operatingSystem + ": " + agentEntity.operatingSystemFamily + " " + agentEntity.operatingSystemVersion }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU</h4>
            <p
              matLine>{{ agentEntity.cpuName + " (" + agentEntity.cpuPhysicalCores + "/" + agentEntity.cpuLogicalCores + ")" }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Memory</h4>
            <p
              matLine>{{ agentEntity.memory }}</p>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-expansion-panel>

    <!--  hardware infos  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hardware
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="entries">
        <mat-list>
          <mat-list-item>
            <h4 matLine>CPU</h4>
            <p matLine>{{ agentEntity.cpuName }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU Architecture</h4>
            <p matLine>{{ agentEntity.cpuArchitecture }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU Sockets</h4>
            <p matLine>{{ agentEntity.cpuSockets }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU Physical Cores</h4>
            <p matLine>{{ agentEntity.cpuPhysicalCores }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>CPU Logical Cores</h4>
            <p matLine>{{ agentEntity.cpuLogicalCores }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Memory</h4>
            <p matLine>{{ agentEntity.memory }}</p>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-expansion-panel>

    <!--  os infos  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          OS
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="entries">
        <mat-list>
          <mat-list-item>
            <h4 matLine>Type</h4>
            <p matLine>{{ agentEntity.operatingSystem }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Family</h4>
            <p matLine>{{ agentEntity.operatingSystemFamily }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Code Name</h4>
            <p matLine>{{ agentEntity.operatingSystemCodeName }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Version</h4>
            <p matLine>{{ agentEntity.operatingSystemVersion }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Build Number</h4>
            <p matLine>{{ agentEntity.operatingSystemBuildNumber }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4 matLine>Architecture</h4>
            <p matLine>{{ agentEntity.operatingSystemArchitecture }}</p>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-expansion-panel>
  </div>
</div>
