<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded" class="main-content">
  <mat-stepper [linear]="true" style="height: 100%">
    <mat-step>
      <ng-template matStepLabel>Select agents</ng-template>
      <div>
        <button color="primary" disabled mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input (keyup)="applySearch($event)" autofocus matInput>
      </mat-form-field>
      <div class="simple-button-row">
        <button (click)="addVisibleAgents()" color="primary" mat-flat-button>Select All</button>
        <button (click)="removeVisibleAgents()" color="primary" mat-flat-button>Deselect All</button>
      </div>

      <mat-selection-list [disabled]="deploymentCreationProcessStarted">
        @for (package_item of agentSelectList; track package_item) {
          <mat-list-option [selected]="isAgentInSelectedAgentList(package_item.uuid)"
                           (selectedChange)="changeSelectedAgents($event, package_item.uuid)">{{ package_item.name }}
            | {{ package_item.uuid }}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <button color="primary" mat-button matStepperPrevious>Back</button>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>
      <div>
        {{ packageEntity?.name }} will be deployed to the following agents:
        <mat-list>
          @for (selectedPackage of selectedAgents; track selectedAgents) {
            <mat-list-item>{{ selectedPackage.name }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Creating deployments</ng-template>
      <div>
        <button [disabled]="deploymentCreationProcessStarted" color="primary" mat-button matStepperPrevious>Back
        </button>
        <button (click)="createDeploymentsForPackage()" [disabled]="deploymentCreationProcessStarted" color="primary"
                mat-button>
          Create
        </button>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="deploymentCreationProgress > 0">
        <mat-progress-bar [value]="deploymentCreationProgress" class="progress-bar" mode="determinate"/>
        {{ deploymentCreationProgress }} / 100 %
      </div>
      <div>
        Agent -> Deployment status:
        <mat-list>
          @for (selectedPackage of createdDeploymentStatus; track createdDeploymentStatus) {
            <mat-list-item>{{ selectedPackage }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>
  </mat-stepper>

</div>
