<div class="main-content">
  <h2>Agent Status</h2>
  @if (refreshingData) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-divider></mat-divider>
  @if (!dataLoaded) {
    <app-loading></app-loading>
  } @else {
    <div class="label-container">
      <mat-form-field>
        Total:
        <div>{{ agentCount }}</div>
        <input matInput [hidden]="true">
      </mat-form-field>
    </div>
    <div class="label-container">
      <mat-form-field class="clickable-container" (click)="showInactiveAgentPopup()">
        Inactive:
        <div>{{ inactiveAgentCount }}</div>
        <input matInput [hidden]="true">
      </mat-form-field>
      <mat-form-field class="clickable-container" (click)="showOutdatedAgentPopup()">
        Outdated:
        <div>{{ outdatedAgentCount }}</div>
        <input matInput [hidden]="true">
      </mat-form-field>
    </div>
  }
</div>
