.main-content {
  width: calc(100% - 20px);
  margin: 10px;
}

.search-field {
  width: 100%;
}

.table-container {
  overflow: auto;
}

.mat-mdc-row:hover {
  background-color: var(--table-hover);
}

.option-bar {
  width: 100%;
  display: flex;

  mat-accordion {
    width: 0;
    flex: 1;
  }
}

.severity-container {
  display: flex;
  flex-direction: column;

  mat-slide-toggle {
    margin-top: 5px;
  }
}
