@use "@angular/material" as mat;

@import 'material-icons/iconfont/material-icons.css';
@import 'highlight.js/styles/dark.css';
@import "app/assets/dark-theme.css";

html, body {
  height: 100%;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-button-toggle-group {
  mat-button-toggle {
    background-color: red;
    --mat-standard-button-toggle-background-color: red;
  }
}

.notification {
  text-align: center;
  --mdc-snackbar-supporting-text-weight: bold;
}

.snackbar-info {
  @extend .notification;
}

.snackbar-error {
  @extend .notification;
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: white;
}

.main-popup {
  height: 80%;
  width: 80%;
}



