<div class="main-content">

  <div class="navigation-bar">
    <mat-button-toggle-group [formControl]="fontStyleControl" class="navigation-bar-options">
      <mat-button-toggle value="page_one">Details</mat-button-toggle>
      <mat-button-toggle value="page_two">Agents</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="component">
    <ng-container [ngSwitch]="fontStyleControl.value">
      <app-package-detail *ngSwitchCase="'page_one'" [packageUUID]=this.data.packageUUID></app-package-detail>
      <app-package-create-deployment *ngSwitchCase="'page_two'" [packageUUID]=this.data.packageUUID></app-package-create-deployment>
    </ng-container>
  </div>
</div>
