<div class="settings">
  <button mat-flat-button (click)="changeRefreshInterval()">Change refresh Interval</button>
  <mat-form-field>
    <mat-label>Refresh in seconds</mat-label>
    <input [formControl]="formControlRefreshIntervalInput" matInput type="number">
    @if (formControlRefreshIntervalInput.hasError('min') || formControlRefreshIntervalInput.hasError('required')) {
      <mat-error>Must be a positive number</mat-error>
    }
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="main-content">
  <mat-card>
    <app-home-agent-status #homeAgentStatusComponentReloadTarget></app-home-agent-status>
  </mat-card>
  <mat-card>
    <app-home-package-status></app-home-package-status>
  </mat-card>
  <mat-card>
    <app-home-deployment-status></app-home-deployment-status>
  </mat-card>
</div>
