.main-content {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
  overflow: hidden;
}

mat-stepper {
  height: 100%;
  overflow: auto;
  mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
