<app-loading *ngIf="!this.dataLoaded"></app-loading>

<div *ngIf="dataLoaded" class="main-content">
  <mat-stepper [linear]="true" style="height: 100%">
    <mat-step>
      <ng-template matStepLabel>Select packages</ng-template>
      <div>
        <button mat-button disabled matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>

      <mat-selection-list [disabled]="deploymentCreationProcessStarted">
        @for (package_item of packageResponse; track package_item) {
          <mat-list-option
            (selectedChange)="changeSelectedPackages($event, package_item.uuid)">{{ package_item.name }}
            | {{ package_item.uuid }}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-divider></mat-divider>

      <div>
        The following packages will get deployed to {{ agentEntity?.name }}:
        <mat-list>
          @for (selectedPackage of selectedPackages; track selectedPackages) {
            <mat-list-item>{{ selectedPackage.name }}</mat-list-item>
          }
        </mat-list>
      </div>

    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Creating deployments</ng-template>
      <div>
        <button mat-button [disabled]="deploymentCreationProcessStarted" matStepperPrevious>Back</button>
        <button mat-button [disabled]="deploymentCreationProcessStarted" (click)="createDeployments()">Create</button>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="deploymentCreationProgress > 0">
        <mat-progress-bar class="progress-bar" mode="determinate" [value]="deploymentCreationProgress"/>
        {{ deploymentCreationProgress }} / 100 %
      </div>
      <div>
        Status:
        <mat-list>
          @for (selectedPackage of createdDeploymentStatus; track createdDeploymentStatus) {
            <mat-list-item>{{ selectedPackage }}</mat-list-item>
          }
        </mat-list>
      </div>
    </mat-step>
  </mat-stepper>

</div>
